<ul class="nav nav-tabs">
    <li *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active">
        <a href="#">{{tab.tabTitle}}</a>
    </li>

    <!-- dynamic tabs -->
    <li *ngFor="let tab of dynamicTabs" (click)="selectTab(tab)" [class.active]="tab.active">
        <a href="#">{{tab.tabTitle}}
           <!-- <span class="tab-close" *ngIf="tab.isCloseable" (click)="closeTab(tab)">x</span> -->
        </a>
    </li>
</ul>
<ng-content></ng-content>

<ng-template dynamicTabAnchor></ng-template>