ul {
  list-style : none;
  counter-reset:item;
}

li {
  counter-increment: item;
  margin-bottom: 8px;
}
  li:before {
    margin-right: 10px;
    content: counter(item);
    background: #32d700;
    border-radius: 100%;
    color: white;
    font-weight:bold;
    width: 1.2em;
    text-align: center;
    display: inline-block;
  }
