<div>
   <div class="loading" [ngStyle]="{'background' : background}" [hidden]="!loading"></div>
  <div class="appContainer">
    <div class="menuContainer">
      <cgsh-nav-menu></cgsh-nav-menu>
    </div>
    <div class="contentContainer">
      <div class="routerContainer">
        <div style="margin-bottom:20px;">
          <cgsh-search-header></cgsh-search-header>
        </div>
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </div>
      <div class="footerContainer">
        <cgsh-footer></cgsh-footer>
      </div>
    </div>
  </div>
</div>


  

